<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="wponto_integraEntities" connectionString="metadata=res://*/base.csdl|res://*/base.ssdl|res://*/base.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LAZARO2;Initial Catalog=wponto_integra;Persist Security Info=True;User ID=supervisor;Password=abc123!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>