            html { background-color:#F6F6F6 }
            
            main { width:955px; margin:-1px auto 10px; border:1px solid #ddd; background-color:#FFF; font-family:Verdana, Helvetica, sans-serif }
            header { width:955px; height:150px }
            
            nav { width: 955px; background-color: #0066cc; }
            nav ul { list-style:none; margin:0; padding:4px }
            nav ul li { display:inline-block }
            nav ul li a { font-size: 0.85em; text-decoration: none; color: #99ccff; padding: 4px 20px }
            nav ul li a:hover { background-color: #e6f2ff }
            
            article { float:left; margin:30px 20px; width:600px }
            
            aside {
                float: left;
                width: 230px;
                border-top: 1px solid #CC6633;
                border-bottom: 1px solid #CC6633;
                padding: 40px 10px 0px;
                margin-right: 20px;
                margin-bottom: 20px;
                background: url(../imagens/aspas.gif) no-repeat;
            }
            aside p{
                color: #999;
            }
            
            section{ clear:both; font-family:Verdana; font-size:0.75em; text-align:center; background-color:#F0F0F0; padding:5px }
            
            #apoio { float:right; width:300px; margin-top:30px }		            
            footer { clear:both; width:700px; margin:0 auto; font-size:0.75em; text-align:center; background-color:#ECECEC; padding:5px }
            
            h1, h2, h4 { font-family:Verdana, "Times New Roman", Times, serif; color:#0066cc; font-style:italic; letter-spacing:-0.05em }        */
            h1 { font-size:2.6em; margin:0 5px; }
            h4 { font-size:1.6em; margin:0 5px; }
            p, li { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:0.9em; color:#555; line-height:1.8 }
            
            table{
                width: 295px;
                border: 1px solid #333;
            }
            td{
                float:center; text-align: center;
            }

        body {
			width: 100%;
			font-family: cursive;
		}
		
		.box {
			width: 300px;
			height: auto;
			float: left;
		}
		
		div#a-b-c {
			width: 955px;
			height: auto;
			margin: auto;
		}
		
		div#a-b-c h2 {
		text-align: left;
		display: inherit;
		}
		
		div#a-b-c p {
		text-align: left;
		display: block;

		}
		.left {
			margin-left: 10px;
		}